label{
margin-right: 20px;
}

#output{
    display: inline-block;
    margin-top: 0;
}

  .exchange-icon:before {
    content: "\2195";
    font-size: 20px;
  }
.block{
    margin:10px 0;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
} 